html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html,
body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main{
    flex-grow: 1;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    padding: 0;
    border: none;
    background: transparent;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

body{
    font-family: "Open Sans", sans-serif;
    color: #151618;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    position: relative;
}

.header__inner{
    min-height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo{
    margin-bottom: 37px;
}

.menu__btn{
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.menu__close-btn{
    cursor: pointer;
}

.menu--close{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    transition: background-color .3s ease;
}

.menu--close.menu--open{
    display: block;
}

.mobail-nav,
.menu__close{
    display: none;
}

.menu__btn span{
    height: 2px;
    width: 100%;
    background-color: #000;
}

.menu__list{
    display: flex;
    align-items: center;
    gap: 0 65px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 85px;
    position: relative;
    z-index: 3;
}

.user-actions{
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.user-actions__item-search{
    margin-left: 80px;
}

.top{
    background-image: url(../img/top-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

.top__inner{
    min-height: 500px;
    color: #fff;
    font-family: 'Cormarant', serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.top__title{
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 789px;
    line-height: 1;
}

.top__text{
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 580px;
} 



.blockquote__text{
    padding: 150px 0;
    max-width: 700px;
    font-family: 'Cormarant', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
}

.assortment{
    margin-bottom: 150px;
}

.assortment__title{
    font-family: "Cormorant", sans-serif;
    font-size: 40px;
    margin-bottom: 60px;
    font-weight: 400;
    text-align: center;
}

.assortment__list{
    text-align: center;
    display: flex;
    gap: 0 40px;
}

.assortment__img{
    max-width: 208px;
    max-height: 208px;
    width: 100%;
}

.assortment__name{
    font-family: 'Cormorant', serif;
    font-size: 24px;
    padding-top: 10px;
}


.reviews{
    background: #f7f2ea;
    padding: 60px 0;
}

.reviews__title{
    font-family: "Cormorant", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 60px;
    text-align: center;
}

.reviews__list{
    display: flex;
    justify-content: center;
    gap: 0px 26px;
}

.reviews__item{
    flex-basis: 280px;
}

.reviews__text{
    font-style: italic;
    font-size: 16px;
    margin-bottom: 10px;
}

.reviews__name{
    font-weight: 600;
}


.main-blog{
    padding: 150px 0;
}

.main-blog__title{
    font-family: "Cormorant", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 60px;
    text-align: center;
}

.main-blog__list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 58px;
    margin-bottom: 60px;
}

.main-blog__item{
    flex-basis: 542px;
    display: flex;
    gap: 20px;
}

.main-blog__item-content{
    display: flex;
    flex-direction: column;

}

.main-blog__item-title{
    font-family: "Cormorant", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    min-height: 86px;
}

.main-blog__item-author{
    font-size: 13px;
}

.main-blog__item-link{
    font-size: 13px;
    margin-top: auto;
    position: relative;
}

.main-blog__item-link::after{
    content: '';
    position: absolute;
    background-image: url(../img/arrow.svg);
    width: 5px;
    height: 10px;
    margin-left: 8px;
    bottom: 3px;
}

.main-blog__link{
    padding: 12px 41px;
    border: 1px solid #151618;
    display: flex;
    justify-content: center;
    width: 152px;
    margin: 0 auto;
}

.mailing-list{
    padding: 100px 0;
    background: #f7f2ea;
    background-image: url(../img/);
}

.mailing-list__title{
    font-family: "Cormorant", sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: left;
}

.mailing-list__inner{
    display: flex;
    gap: 60px 40px;
}

.mailing-list__text{
    line-height: 150%;
    flex-basis: 580px;
}

.mailing-list__form{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 580px;
}

.mailing-list__email{
    border: none;
    background: transparent;
    border-bottom: 1px solid #b8b58b;
    padding: 3px 15px;
    outline: none;
    width: 403px;
    margin-right: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #151618;
}

/* Для placeholder все стили пишутся заново */
.mailing-list__email::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #b8b58b;
}

.mailing-list__btn{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #151618;
    background-color: #fff;
    border: 1px solid #151618;
    padding: 12px 41px;
    cursor: pointer;
}

.checkbox__text{
    font-size: 13px;
    padding-left: 20px;
}

.mailing-list__label{
    margin-top: 16px;
}

.checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    padding-left: 20px;
}

.checkbox-style{
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #151618;
    margin-top: 5px;
}

.checkbox:checked + .checkbox-style::before{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background: #151618;
    top: 1px;
    left: 1.5px;
}

.prioritise{
    padding: 150px 0;
}

.prioritise__title{
    font-family: "Cormorant", sans-serif;
    font-size: 40px;
    margin-bottom: 60px;
    text-align: center;
}

.prioritise__list{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 49px;
}

.prioritise__item-title{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 300;
}

.prioritise__item-text{
    font-weight: 600;
    margin-bottom: 30px;
}


/* В многостраничных сайтах footer прибивается к низу страницы */
.footer{
    padding: 100px 0 20px;
    background: #f7f2ea;
}

.footer__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 40px;
    margin-bottom: 80px;
}

.footer__products-title,
.footer__company-title{
    font-family: "Cormorant", sans-serif;
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 400;
}

.footer__products-item,
.footer__company-item{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer__blockquote{
    margin-top: 79px;
}

.footer__blockquote-text{
    font-style: italic;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer__blockquote-author{
    font-weight: 300;
    font-size: 12px;
}

.footer__blockquote-author span{
    display: block;
}

.footer__contacts-title{
    font-family: "Cormorant", sans-serif;
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 400;
}

.footer__contacts-text{
    font-size: 13px;
    margin-bottom: 20px;
}

.footer__nav{
    display: flex;
    flex-wrap: wrap;
}

.footer__nav-logo{
    margin-right: 40px;
}

.footer__nav-contacts{
    margin-top: 20px;
}

.footer__nav-phone,
.footer__nav-email{
    font-size: 13px;
    position: relative;
    padding-left: 32px;
    display: block;
    margin-bottom: 20px;
}

.footer__nav-phone::before,
.footer__nav-email::before{
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 22px;
    height: 16px;
    background-image: url(../img/mail.svg);
}

.footer__nav-phone::before{
    background-image: url(../img/phone.svg);
    width: 21px;
    height: 21px;
}

.footer__social{
    margin-top: 40px;
    margin-left: 97px;
}

.footer__social-list{
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.footer__social-link{
    display: grid;
}


.footer__bottom{
    display: flex;
    align-items: center;
    gap: 192px;
}

.footer__copy{
    font-weight: 300;
    font-size: 16px;
}

.partners-logo{
    display: flex;
    gap: 0 20px;
}





@media (max-width: 1000px){
    .user-actions__item-search{
        margin-left: 30px;
    }
    .menu{
        margin-right: auto;
    }
    .menu__list{
        margin-left: 60px;
    }
    .logo{
        margin-bottom: 0;
    }
    .header__inner{
        min-height: auto;
    }
    .blockquote__text{
        padding: 120px 0;
    }

    .assortment{
        margin-bottom: 120px;
    }
    .assortment__title{
        margin-bottom: 30px;
    }
    .assortment__list{
        gap: 0;
    }

    .reviews__item--hide{
        display: none;
    }

    .main-blog{
        padding: 120px 0;
    }
    .main-blog__list{
        gap: 67px 20px;
    }
    .main-blog__item{
        flex-basis: 460px;
    }
    .main-blog__item-img{
        max-width: 230px;
    }

    .mailing-list{
        padding: 60px 0;
    }
    .mailing-list__title{
        text-align: center;
    }
    .mailing-list__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .mailing-list__text{
        text-align: center;
        flex-basis: 780px;
    }

    .prioritise{
        padding: 120px 0;
    }
    .prioritise__list{
        gap: 30px 210px;
    }

    .footer__inner{
        margin-bottom: 35px;
    }
    .footer__blockquote{
        margin-top: 0;
    }
    .footer__blockquote-text{
        width: 270px;
    }
    .footer__bottom{
        gap: 0 40px;
    }
}

@media (max-width: 860px){
    .menu__list{
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 480px;
        margin: 0 auto;
        background-color: #fff;
        display: block;
        text-align: center;
        padding-top: 60px;
        transition: transform .6s;
    }
    .menu__list.menu__list--open{
        transform: translateY(0%);
    }
    .menu__close-btn{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .menu__item{
        margin-bottom: 30px;
        font-size: 24px;
        font-family: 'Cormorant', serif;
    }
    .mobail-menu{
        padding-top: 60px;
        margin: 0 30px;
        border-top: 2px #f7f2ea solid;
        margin-top: 60px;
    }
    .mobail-actions{
        background: #f7f2ea;
        height: 60px;
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobail-menu__item{
        margin-bottom: 35px;
    }

    .menu__btn{
        display: flex;
    }
    .mobail-nav,
    .menu__close{
        display: block;
    }
    .menu{
        order: -1;
        margin-right: 0;
    }
    .logo{
        margin-left: auto;
        margin-right: 154px;
    }

    .footer__inner{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__products,
    .footer__company{
        grid-row: span 3;
    }
    .footer__contacts{
        width: 270px;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}

@media (max-width: 768px){
    .header__inner{
        padding: 0 44px;
    }
    .blockquote__text{
        max-width: 640px;
    }

    .assortment__title{
        margin-bottom: 40px;
    }
    .assortment__list{
        gap: 0 6px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .reviews{
        padding: 60px 0 82px;
    }
    .reviews__list{
        flex-wrap: wrap;
        gap: 30px 76px;
    }
    .reviews__item--hide{
        display: block;
    }

    .main-blog__list{
        gap: 30px 0;
    }
    .main-blog__item{
        flex-basis: 542px;
    }
    .main-blog__item:nth-child(even){
        margin-left: 98px;
    }
    .main-blog__item-img{
        max-width: 270px;
    }

    .mailing-list__text{
        flex-basis: 640px;
    }

    .prioritise__list{
        gap: 30px 90px;
    }
}

@media (max-width: 680px){
    .container{
        padding: 0 10px;
    }
    .header__inner{
        padding-left: 0;
        padding-right: 0;
    }
    .top__title{
        font-size: 40px;
        line-height: normal;
    }
    .blockquote__text{
        padding: 60px 0;
        font-size: 16px;
        max-width: 376px;
    }
    
    .reviews__list{
        gap: 30px 20px;
    }
    .reviews__item{
        flex-basis: 220px;
    }

    .main-blog__item:nth-child(even) {
        margin-left: 0;
    }
}

@media (max-width: 560px){
    .footer{
        padding: 50px 0 10px;
    }
    .footer__inner{
        display: flex;
        flex-wrap: wrap;
    }
    .footer__products-title,
    .footer__company-title{
        margin-bottom: 30px;
    }
    .footer__blockquote{
        margin-top: 30px;
    }
    .footer__blockquote-text{
        width: 100%;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .footer__blockquote-author span{
        display: inline;
    }
    .footer__contacts{
        margin-top: 50px;
        width: 100%;
        text-align: center;
    }
    .footer__contacts-title{
        margin-bottom: 20px;
    } 
    .footer__products{
        margin-right: auto;
        padding-right: 20px;
    }
    .footer__nav{
        flex-wrap: nowrap;
    }
    .footer__social{
        margin-left: 30px;
    }
    .footer__copy{
        margin-right: auto;
    }
}

@media (max-width: 480px){
    .logo{
        margin-right: 80px;
    }
    .logo img{
        width: 39px;
    }
    .menu__list{
        width: 360px;
    }

    .assortment{
        margin-bottom: 60px;
    }
    .assortment__title{
        font-size: 24px;
        margin-bottom: 0;
    }
    .assortment__list{
        gap: 0;
    }

    .reviews{
        padding: 50px 0;
    }
    .reviews__title{
        font-size: 37px;
        margin-bottom: 40px;
    }
    .reviews__item{
        flex-basis: 280px;
    }

    .main-blog{
        padding: 60px 0;
    }
    .main-blog__item-img{
        max-width: 230px;
    }

    .mailing-list{
        padding: 50px 0;
    }
    .mailing-list__title{
        margin-bottom: 30px;
    }
    .mailing-list__inner{
        gap: 30px 0;
    }
    .mailing-list__text{
        font-size: 13px;
        flex-basis: 100%;
    }
    .mailing-list__email{
        width: 324px;
        margin-right: 20px;
    }
    .mailing-list__btn{
        padding: 10px 39px;
    }

    .prioritise{
        padding: 60px 0;
    }
    .prioritise__title{
        margin-bottom: 30px;
    }
    .prioritise__list{
        gap: 40px 90px;
    }

    .footer__nav{
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (max-width: 360px){

    .menu__list{
        width: 320px;
    }

    .logo{
        margin-right: 50px;
    }
    .user-actions__item-search{
        margin-left: 0;
    }
    .header__inner{
        padding: 10px 0;
    }
    .top__title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .top__text{
        font-size: 13px;
        margin-bottom: 30px;
    }
    .top__inner{
        min-height: 367px;
    }
    .blockquote__text{
        max-width: 340px;
        padding: 70px 0 80px;
    }

    .assortment{
        margin-bottom: 80px;
    }
    .assortment__img{
        max-width: 160px;
    }

    .reviews__title{
        margin-bottom: 30px;
        font-size: 24px;
    }
    .reviews__item:nth-child(2n){
        display: none;
    }
    .reviews__item{
        flex-basis: 100%;
    }

    .main-blog{
        padding: 50px 0;
    }
    .main-blog__title{
        font-size: 24px;
        margin-bottom: 30px;
    }
    .main-blog__list{
        justify-content: center;
    }
    .main-blog__item{
        display: block;
        max-width: 270px;
    }
    .main-blog__item:nth-child(even) {
        display: none;
    }
    .main-blog__item-img{
        max-width: 100%;
    }
    .main-blog__item-title{
        min-height: auto;
        margin-bottom: 5px;
    }
    .main-blog__item-author{
        margin-bottom: 10px;
    }

    .mailing-list__title{
        font-size: 24px;
    }
    .mailing-list__email{
        width: 205px;
    }

    .prioritise{
        padding: 50px 0;
    }
    .prioritise__title{
        font-size: 24px;
    }
    .prioritise__list{
        gap: 40px 90px;
    }
    .prioritise__item-title{
        font-size: 20px;
    }
    .prioritise__item-text{
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 15px;
    }
}
